
$primary-background-color: #8aade6;
$large-font-size: 2em;
$primary-font-color: #d0dbd3;
$input-focus-background: #f2f8fa;
$primary-button-color: #268fad;
$primary-button-color-hover: #13344e;
$white: #fff;
$black: #000;
