
$primary-background-color: #8aade6;
$large-font-size: 2em;
$primary-font-color: #d0dbd3;
$input-focus-background: #f2f8fa;
$primary-button-color: #268fad;
$primary-button-color-hover: #13344e;
$white: #fff;
$black: #000;
$primary-button-color-svg-filter: invert(46%) sepia(61%) saturate(583%) hue-rotate(147deg) brightness(92%) contrast(83%);
$primary-button-color-hover-svg-filter: invert(15%) sepia(8%) saturate(6611%) hue-rotate(172deg) brightness(96%) contrast(90%);
