
/* Colors */
$primary-background-color: #8aade6;
$primary-font-color: #d0dbd3;
$input-focus-background: #f2f8fa;
$primary-button-color: #268fad;
$primary-button-color-hover: #13344e;
$white: #fff;
$black: #000;
$red: #e93528;
$cart-total-color: rgb(101 98 94);

/* Filters */
$primary-button-color-svg-filter: invert(46%) sepia(61%) saturate(583%) hue-rotate(147deg) brightness(92%) contrast(83%);
$primary-button-color-hover-svg-filter: invert(15%) sepia(8%) saturate(6611%) hue-rotate(172deg) brightness(96%) contrast(90%);
$white-svg-filter: invert(98%) sepia(41%) saturate(2%) hue-rotate(73deg) brightness(111%) contrast(100%);
$primary-font-color-filter: invert(88%) sepia(7%) saturate(230%) hue-rotate(84deg) brightness(100%) contrast(89%);
$red-filter: invert(20%) sepia(74%) saturate(5377%) hue-rotate(15deg) brightness(93%) contrast(127%);

/* Fonts */
$crima-regular: 'Crima regular';
$lato-regular: 'Lato Regular';
$semiflora-regular: 'Semiflora Regular';
$MRKMaston-Regular: 'MRKMaston Regular';
$DebasNeue-Regular: 'DebasNeue Regular';
$Mofulina-Regular: 'Mofulina Regular';
$Molaste-Regular: 'Molaste Regular';
$Majestic-kingdome-Regular: 'Majestic kingdome Regular';

/* Font sizes */
$large-font-size: 2rem;
$normal-font-size: 1.25rem;
