/* stylelint-disable number-max-precision */

.ProductCard{
    background-color: rgb(238 233 233);
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    margin-block-end: auto;
    user-select: none;

    &:hover {
        background-color: rgb(240 236 230);
    }

    &-Colors {
        display: flex;
        padding-block-end: 2%;
    }

    &-Color {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        margin-inline-start: 5px;
        cursor: pointer;
    }

    &-FavoriteButton {
        z-index: 2;
        position: absolute;
        align-self: flex-end;
        padding-inline-end: 25px;
        padding-block-start: 15px;
    }

    &-Images {
        border-radius: 15px;
        overflow: hidden;
    }

    &-Image {
        min-width: 100%;
        padding-block-start: 120%;
        transition-property: transform, background-image;
        background-size: cover;
        background-repeat: no-repeat;
        transition-duration: 500ms, 300ms;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        transform: scale(1.01);

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    &-Name {
        font-family: Verdana, sans-serif;
        font-style: bold;
        font-size: 1vw;
        text-align: center;
        padding-block: 1vh;
        padding-inline: 10px;
        height: 6vh;

        @include mobile {
            font-size: 2vw;
        }
    }

    &-Price {
        text-align: center;
        font-family: $MRKMaston-Regular;
        font-size: 4vw;
        padding-block: 2vh;

        @include desktop {
            font-size: 2vw;
        }
    }

    &-AddToCart {
        min-height: 5vh;

        .AddToCart {
            min-height: 5vh;
        }
    }

    &-VariantInfo {
        min-width: 105px;
        display: flex;
        justify-content: space-between;
    }

    &-Sizes {
        padding-inline-end: 3%;
        display: flex;
        font-size: 1vw;

        @include mobile {
            font-size: smaller;
        }
    }

    &-Size {
        margin-inline-end: 1vw;
    }

    &-MoreSizes {
        white-space: nowrap;
    }
}
