/* stylelint-disable number-max-precision */

.ProductCard{
    background-color: rgb(238 233 233);
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;

    &:hover {
        background-color: rgb(240 236 230);
    }

    &-Colors {
        display: flex;
        padding-block-end: 2%;
    }

    &-Color {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        margin-inline-start: 5px;
        cursor: pointer;
    }

    &-Images {
        border-radius: 15px;
        overflow: hidden;
    }

    &-Image {
        min-width: 100%;
        height: 0;
        padding-block-start: 120%;
        transition-property: transform, background-image;
        background-size: cover;
        background-repeat: no-repeat;
        transition-duration: 500ms, 300ms;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        transform: scale(1.01);

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    &-Name {
        font-family: Verdana, sans-serif;
        font-style: bold;
        font-size: 1vw;
        text-align: center;
        padding-block: 20px;
        padding-inline: 10px;

        @include mobile {
            font-size: 3vw;
        }
    }

    &-Price {
        text-align: center;
        font-family: $MRKMaston-Regular;
        font-size: 22px;
        padding-block-end: 20px;
    }

    &-AddToCart {
        margin-block-start: auto;
        min-height: 10%;
    }

    &-VariantInfo {
        display: flex;
        justify-content: space-between;
    }

    &-Sizes {
        padding-inline-end: 3%;
        font-size: 1rem;
        display: flex;

        @include mobile {
            font-size: smaller;
        }
    }

    &-Size {
        margin-inline-end: 1vw;
    }

    &-MoreSizes {
        font-size: 1rem;
        white-space: nowrap;
    }
}
