.CategoryPageFilters {
    padding-block-start: 32px;
    padding-inline: 5%;
    background-color: $input-focus-background;
    min-height: 100vh;

    &-Title {
        text-align: center;
        font-size: 2rem;
        margin-block-end: 32px;
    }
}
