.FilterComponent {
    margin-block-start: 25px;
    box-sizing: border-box;
    padding: 10px;

    &-Values {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15%;
        place-items: center center;
        margin-block: 25px;

        @include mobile {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-Value {
        margin-inline-start: 5px;
        min-height: max-content;
        cursor: pointer;
        padding: 2%;
        box-sizing: border-box;
        border-style: dotted;
        border-color: transparent;
        border-width: 1px;

        &_Selected {
            border-color: $black;
        }
    }


    &-Color {
        height: 25px;
        width: 25px;
        border-radius: 50px;
        margin-inline-start: 5px;
        cursor: pointer;

        &_Selected {
            box-sizing: border-box;
            border-style: solid;
            border-color: $black;
            border-width: 2px;
        }
    }

    &-Title {
        margin-inline-start: 10px;
        border-bottom: 1px solid gray;
        padding-block-end: 10px;
    }

    &-Reset {
        margin-inline-start: 10px;
        cursor: pointer;
    }
}
