.ProductPage {
    &-Product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 10%;
        padding-block-start: 32px
    }

    &-Image {
        display: flex;
        justify-content: center;
    }

    &-Img {
        max-height: 30vw;
        padding: 5%;
    }
}
