.CartItem {
    display: grid;
    grid-template-columns: 25% 40% 15% 15% 5%;
    margin-block: 10px;
    padding-block: 10px;
    justify-content: center;
    border-bottom: 1px dashed $primary-background-color;
    background-color: $white;

    @include mobile {
        grid-template-columns: 20% 40% 15% 20% 5%;
    }

    &-Name {
        font-family: Verdana, sans-serif;
        font-weight: 100;
        font-size: 1rem;
        text-align: center;
        margin: auto;

        @include mobile {
            font-size: 2vw;
        }
    }

    &-Image {
        height: 5vw;
        border-radius: 15px;
        margin: auto;

        @include mobile {
            height: 10vw;
        }
    }

    &-Images {
        display: flex;
        justify-content: center;
    }

    &-Price {
        font-size: 1rem;
        margin: auto;
        text-align: center;

        @include mobile {
            font-size: 5vw;
        }
    }

    &-Quantity {
        margin-block: auto;

        @include mobile {
            font-size: 5vw;
        }
    }

    &-RemoveItem {
        display: inline-flex;
        justify-content: center;
        margin-block: auto;
    }

    &-RemoveItemIcon {
        width: 2vw;
        height: 2vw;
        filter: $red-filter;

        &:hover {
            cursor: pointer;
        }
    }
}
