.PasswordField {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-IconImage {
        width: 25px;
        height: 25px;
    }

    &-IconSpan {
        position: absolute;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-block-end: 8px;
        inset-inline-end: 15%;
    }

    &-Wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;
    }
}
