.AccountOverlay {
    height: 99%;
    width: 100%;
    position: absolute;
    inset-inline-end: -550px;
    inset-block-start: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border-style: solid;
    border-color: $black;
    border-width: 1px;
    overflow: hidden;
    transition-property: inset-inline-end;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    @include desktop {
        width: 500px;
    }

    &_Clicked {
        inset-inline-end: 0;
    }

    &-Title {
        display: flex;
        gap: 50px;
        justify-content: center;

        h2 {
            user-select: none;
        }
    }

    &-Login {
        padding-block-start: 25%;
    }

    &-LoginForm {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &-LoginTextField {
        width: 80%;
        height: 50px;
        padding-inline-start: 10px;
        transition-property: background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        border-radius: 5px;
        font-size: 18px;

        &:focus {
            background-color: $input-focus-background;

            &::placeholder {
                color: #5c7b5b;
            }
        }
    }

    &-LoginButton {
        background-color: $primary-button-color;
        width: 120px;
        height: 60px;
        color: $white;
        font-size: 22px;
        border: none;
        transition-property: background-color;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
        border-radius: 3px;

        &:hover {
            background-color: $primary-button-color-hover;
        }
    }
}
