.AccountOverlay {
    &-Title {
        display: flex;
        gap: 50px;
        justify-content: center;
        user-select: none;
    }

    &-LoginTitle, &-CreateAccountTitle {
        cursor: pointer;
    }
}
