.Header {
    height: 10vh;
    background-color: $primary-background-color;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;

    &-Right, &-Left {
        display: flex;
        margin-block: auto;
        width: 100%;
        justify-content: start;
    }

    &-Right {
        justify-content: center;
    }

    &-Text {
        font-size: $normal-font-size;
        color: $primary-font-color;
        font-family: $crima-regular;
        cursor: pointer;
        margin-block: auto;
        user-select: none;
        text-transform: capitalize;
        margin-inline-end: 15px;
    }
}
