.FavoriteButton {
    position: absolute;
    z-index: 2;

    &-Icon {
        height: 1.5em;
        width: 1.5em;
        cursor: pointer;
        filter: $primary-font-color-filter;

        &:hover, &_IsFavorite {
            filter: $red-filter;
        }

        @include mobile {
            height: 1em;
            width: 1em;
        }
    }

}
